@{
    ViewData["Title"] = "Startpagina";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Dit is de nieuwste website voor CeeLearnAndDo</p>
    <p>U kunt hier onderandere artikels lezen van uw favoriete consultants en nieuwe contacten leggen.</p>
    <p>Hopelijk heeft een fijne ervaring met onze vernieuwde site.</p>
    <p>Groeten, het CeeLearnAndDo team.</p>
</div>
